#page_waitlist {
  #wl-header {
    margin-top: 100px;
    text-align: center;
    .p {
      max-width: min(700px, 80%);
      margin: 0 auto;
      font-size: 1.5rem;
    }
    .heading {
      display: flex;
      align-items: center;
      gap: 1em;
      justify-content: center;
      .hs {
        font-size: 4rem;
        // letter-spacing: -3px;
        font-weight: 500;
      }
    }
  }

  .scroll-indicator {
    opacity: 0;
    text-align: center;
    color: var(--brown);
    font-family: var(--fontH);
    margin-top: 80px;
    font-size: 1.2rem;
  }
  @media screen and (max-width: 1024px) {
    .scroll-indicator {
      opacity: 1;
    }
  }

  #wl-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
    align-items: flex-start;
    gap: 0.5em;

    @media screen and (max-width: 1024px) {
      overflow-x: scroll;
      padding-block: 200px;
      margin-top: -100px;
      max-width: 100%;
    }

    .waitlist {
      // background: red;
      width: 370px;
      max-height: 500px;
      --accent: #b55a6a;
      transition: all 150ms ease;
      &:hover {
        transform: translateY(-2%);
        .heading {
          svg {
            path {
              transform: translateY(-10px);
            }
            ellipse {
              translate: 0px 15px;
            }
          }
        }
      }
      &.wo {
        --accent: #923e4d;
      }

      &.c {
        --accent: #743131;
      }
      .heading {
        max-width: 85%;
        background: var(--accent);
        font-size: 1.7rem;
        border-radius: 1em 1em 0 0;
        margin: 0 auto;
        text-align: center;
        padding: 0.5em 0;
        .sta-cat {
          text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.273);
        }
        margin-bottom: -10px;
        position: relative;
        svg {
          position: absolute;
          bottom: 0%;
          width: 100%;
          left: 0%;
          z-index: -2;
          fill: var(--accent);
          path,
          ellipse {
            transition: all 400ms ease;
            fill: var(--accent);
          }
        }
      }
      .list {
        height: 100%;
        background: var(--accent);
        border-radius: 1em;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1.5em;
        // margin-top: 1em;
        border-top: 11px solid var(--accent);
        overflow-y: auto;
        min-height: 600px;
        max-height: 600px;
        .empty {
          background: rgba(38, 0, 0, 0.234);
          padding: 0.25em;
          padding-block: 1em;
          border-radius: 2em;
          text-align: center;
        }
        .wl-item {
          width: 100%;
          background: url("/bg/wave.png"), rgb(255, 253, 254);
          background-size: 50px;
          padding: 1em;
          color: black;
          border-radius: 0.3em 2em 0.3em 2em;
          border: 7px solid var(--pink);
          border-bottom-width: 12px;
          transition: all 250ms var(--ease);
          box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.254);
          &:hover {
            scale: 1.1;
          }
          .general {
            .name {
              color: var(--pink);
              // text-shadow: 0px 2px 1px rgba(100, 41, 75, 0.697);
              font-size: 1.7rem;
              font-weight: lighter;
            }
            .item-bought {
              color: var(--grey);
              font-family: var(--fontH);
              font-weight: lighter;
              font-size: 1.3rem;
            }
          }

          .info {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
            gap: 0.25em;
            .date {
              background: var(--lpink);
              color: var(--brown);
              font-family: var(--fontH);
              padding: 0.25em;
              min-width: 60%;
              border-radius: 1em 0 0 1em;
              margin-top: 1em;
              font-size: 0.9rem;
            }
            .payment {
              font-family: var(--fontH);
              border-radius: 1em 0 0 1em;
              background: var(--pink);
              color: var(--red);
              padding: 0.25em;
              font-size: 0.9rem;

              width: 50%;
            }
          }
        }
      }
    }
  }
}
